.loginLogin{
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    /* background-color: #193498; */
    margin: 0px;
}
.checkuser{
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.form{
    width: 100%;
    height: 80vh;
}

.registrarAndFogat{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.fogatPass{
    width: 150px;
    height: 50px;
    color: #fff;
    font-size: 12px;
    background-color: #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 60%;
    height: 100vh;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoImg{
    width: 160px;
    height: 160px;
    margin-top: -80px;
}
.logoLogin{
    background-color: #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Valilaclass{
    width: 420px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    z-index: 0;
    padding: 0px;
}
.logoImgLoginsystem{
    width: 100px;
    height: 60px;
}
.valillaTilt{
    width: 420px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(53, 49, 99, 0.5) solid 1px;
    margin-top: 0px;
    background-color: wheat;
    z-index: 99;
}
.loginForm{
    width: 420px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(53, 49, 99, 0.5) solid 1px;
    margin-top: 30px;
    background-color: wheat;
    animation-name: movform;
    animation-duration: 3s;
    animation-fill-mode: both;
}
@keyframes movform{
    from{transform: translateY(700px)}
    to{transform: translateY(0px)}
}
.logoImgRes{
    width: 360px;
    height: 360px;
    margin-bottom: -285px;
}
.logoLoginRes{
    width: 400px;
    height: 400px;
    margin: -250px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: movformy;
    animation-duration: 3s;
    animation-fill-mode: both;
}
@keyframes movformy{
    from{transform: translateY(-700px)}
    to{transform: translateY(0px)}
}
.inputLogin{
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: none;
}
.entrarbutton{
    background-color: #1597E5;
}
.entrarbutton:disabled{
    background-color: #8acbf3;
}
.criar{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Termos{
    color: aliceblue;
    text-decoration: underline;
}

#nawCreate{
    color: #666;
    transform: scale(0.95);
}
#nawCreate:hover{
    color: #000;
    transform: scale(1);
}
#h2Margin{
    margin-bottom: 20px;
    font-family: sans-serif;
}