.cardAluguel{
    width: 100%;
        margin: 0px auto 12px auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: rgb(212, 206, 206);
        border-radius: 20px;
        padding: 3px;
        box-shadow: 1px 1px 0px #666;
}
@media(max-width: 957px){
    .cardAluguel{
        width: 100%;
        margin: 0px auto 12px auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: rgb(212, 206, 206);
        border-radius: 20px;
        padding: 3px;
        box-shadow: 1px 1px 0px #666;
    }
    .contentSideBar{
        width: 100%;
        margin: 150px auto 0px auto;
    }
}