.conteiner{
    display: flex;
    width: 100;
    height: 100%;
    background-color: #F6F3F3;
    border-radius: 10px 10px 0px 0px;
    flex-direction: row;
    justify-content: center;
}
.sidebar{
    position: relative;
    height: 100%;
    background-color: #F6F3F3;
    min-width: 300px;
    width: 76%;
    margin: 75px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-left: 68px;
}
.cadastrarProduto{
    position: relative;
    width: 320px;
    height: 100vh;
    
}
#textArea{
    padding: 10px;
}
.formProduto{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width: 300px;
    height: 450px;
    background-color: #193498;
    margin: 20px 10px 0px 20px;
    border-radius: 10px;
}
#shoop{
    color: #fff;
    font-size: 35pt;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
}
.banner{
    height: 110px;
    width: 400px;
    margin-top: 85px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.buttonCadastrar{
    background-color: #193498;
    font-size: 16pt;
    text-align: center;
    color: #fff;
    margin-top: 0px;
    margin-left: 20px;
    width: 200px;
    height: 90px;
    border-radius: 20px 0px 0px 20px;
}
.corpoBanner{
    background-color: rgb(47, 226, 77);
    height: 90px;
    z-index: 50;
    padding-right: 100px;
    padding-left: 10px;
    font-size: 11pt;
    text-align: justify;
    color: #fff;
    display: flex;
    align-items: center;
}
.BannerCadastrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.triangulo{
    z-index: 70;
    margin-left: -50px;
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent;
    border-right: 50px solid #F6F3F3;
}
.fotoProduto{
    width: 90%;
    height: 35px;
    border: none;
    margin-top: 20px;
    color: #fff;
}
.produtoFormModal{
    color: #fff;
    margin: 20px 0px 20px 0px;
}
.colorbutton{
    background-color: #69DADB;
    color: #fff;
}
.inputProduto{
    width: 90%;
    height: 40px;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    padding: 1px 2px 1px 2px;
}
.story{
    margin-top: 20px;
    border-radius: 20px;
    max-width: 280px;
    min-width: 100px;
    width: 100px;
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    border: none;
    width: 90%;
    padding: 1px 2px 1px 2px;
}
.imgPostPreviw{
    width: 10xpx;
    height: 100px;
}
.imgInputContent{
    width: 90%;
}
.todosProdutos{
    color: #fff;
}
.ativeCadastrar{
    position: absolute;
    top: 120px;
    left: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 10pt;
    background-color: #193498;
    border-radius: 10px;
    color: #fff;
}


@media (min-width: 576px){

}
@media (min-width: 768px){

}
@media (min-width: 992px){

}
@media (min-width: 1120px){
    .sidebar{
        position: relative;
        height: 100%;
        background-color: #F6F3F3;
        min-width: 300px;
        width: 100%;
        margin: 75px auto 0px auto;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        margin-left: 80px;
    }
}
@media (min-width: 945px){
    .sidebar{
        position: relative;
        height: 100%;
        background-color: #F6F3F3;
        min-width: 300px;
        width: 100%;
        margin: 75px auto 0px auto;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        margin-left: 80px;
    }
}
@media (max-width: 1074px){
    .sidebar{
        position: relative;
        height: 100%;
        background-color: #F6F3F3;
        min-width: 300px;
        width: 100%;
        margin: 75px auto 0px auto;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        margin-left: 70px;
    }
    .banner{
        display: none;
    }
    .ativeCadastrar{
        position: absolute;
        top: 120px;
        left: 40px;
        display: flex;
        justify-content:center;
        align-items: center;
        width: 150px;
        height: 40px;
        font-size: 10pt;
        background-color: #193498;
        border-radius: 10px;
        color: #fff;
    }
    .formProduto{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        width: 300px;
        height: 450px;
        background-color: #193498;
        margin: 120px 10px 0px 20px;
        border-radius: 10px;
    }
}
@media (max-width: 831px){
    .sidebar{
        position: relative;
        height: 100%;
        background-color: #F6F3F3;
        min-width: 300px;
        width: 100%;
        margin: 75px auto 0px auto;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        margin-left: 70px;
    }
    .banner{
        display: none;
    }
    .ativeCadastrar{
        position: absolute;
        top: 120px;
        left: 40px;
        display: flex;
        justify-content:center;
        align-items: center;
        width: 150px;
        height: 40px;
        font-size: 10pt;
        background-color: #193498;
        border-radius: 10px;
        color: #fff;
    }
    .formProduto{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        width: 300px;
        height: 450px;
        background-color: #193498;
        margin: 120px 10px 0px 20px;
        border-radius: 10px;
    }
}
@media (max-width: 947px){
    .sidebar{
        position: relative;
        height: 100%;
        background-color: #F6F3F3;
        min-width: 300px;
        width: 100%;
        margin: 75px auto 0px auto;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        margin-left: 10%px;
    }
}
@media (max-width: 885px){
    .sidebar{
        position: relative;
        height: 100%;
        background-color: #F6F3F3;
        min-width: 300px;
        width: 100%;
        margin: 75px auto 0px auto;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        margin-left: 130px;
    }
}
@media (max-width: 885px){
    .sidebar{
        position: relative;
        height: 100%;
        background-color: #F6F3F3;
        min-width: 300px;
        width: 100%;
        margin: 75px auto 0px auto;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        margin-left: 100px;
    }
}
@media (max-width: 775px){
    .sidebar{
        position: relative;
        height: 100%;
        background-color: #F6F3F3;
        min-width: 300px;
        width: 100%;
        margin: 75px auto 0px auto;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        margin-left: 50px;
    }
}
@media (max-width: 775px){
    .ativeCadastrar{
        position: absolute;
        top: 20px;
        left: 200px;
        display: flex;
        justify-content:center;
        align-items: center;
        width: 150px;
        height: 40px;
        font-size: 10pt;
        /* background-color: #193498; */
        background-color: red;
        border-radius: 10px;
        color: #fff;
        z-index: 100;

    }
}
@media (max-width: 462px){
    .sidebar{
        position: relative;
        height: 100%;
        background-color: #F6F3F3;
        min-width: 300px;
        width: 100%;
        margin: 75px auto 0px auto;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        margin-left: 20px;
    }
}
@media (max-width: 380px){
    .sidebar{
        position: relative;
        height: 100%;
        background-color: #F6F3F3;
        min-width: 300px;
        width: 100%;
        margin: 75px auto 0px auto;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        margin-left: 50px;
    }
}