.homeIm, .centerAbout{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #111;
    border: none; border: 0px solid transparent;
}
.centerAbout{
    background-color: #222;
    border: none; border: 0px solid transparent;
}
.first{
    width: 75%;
    height: 450px;
    padding: 0px 0px 0px 15%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: none; border: 0px solid transparent;
}
.Holo{
    color: #999;
    margin-left: 0px;
    padding: 0px;
    border: none; border: 0px solid transparent;
}
.im{
    color: #1597E5;
    font-size: 5rem;
    font-weight: bold;
    margin-left: 0px;
    padding: 0px;
    border: none; border: 0px solid transparent;
}
.fleelancer, .developer{
    color: #999;
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    padding: 0px;
    border: none; border: 0px solid transparent;
}
.BuutonHere{
    border: 2px solid #1597E5;
    margin: 20px 0px 0px 0px;
    padding: 6px 20px;
    font-weight: bold;
    border-radius: 5px;
    color: #1597E5;
    background-color: #222;
    border: none; border: 0px solid transparent;
}
.secund{
    width: 25%;
    background-color: #111;
    border-radius: 40%;
    border: none; border: 0px solid transparent;
}
.ImgHome{
    height: 450px;
    margin-left: -60%;
    border: none; border: 0px solid transparent;
}
.imgSection{
    width: 48%;
    padding: 60px 0px 60px 15%;
    background-color: #222;
    border: none; border: 0px solid transparent;
}
.imgAbout{
    height: 320px;
    border: none; border: 0px solid transparent;
}
.textAbout{
    width: 48%;
    background-color: #222;
    padding: 60px 15% 60px 0px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: none; border: 0px solid transparent;
}
.ParagrafAbout{
    color: #999;
    border: none; border: 0px solid transparent;
}
.headerAbout{
    color: #999;
    border: none; border: 0px solid transparent;
}
.row{
    width: 40px;
    background-color: #1597E5;
    border: 2px solid #1597E5;
    border-radius: 10px;
    position: relative;
    margin: 0px 0px 20px 0px;
}
.buutonsAbout{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    border: none; border: 0px solid transparent;
}
.BuutonAbout{
    border: 2px solid #1597E5;
    margin: 20px 0px 0px 0px;
    padding: 6px 20px;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    background-color: #1597E5;
}
.service{
    width: 100%;
    background-color: #111;
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none; border: 0px solid transparent;
}
.marginCenterServece{
    width: 100%;
    padding-left: 15%;
    border: none; border: 0px solid transparent;
}
.textService{
    width: 50%;
    background-color: #111;
    padding: 60px 15% 60px 0px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: none; border: 0px solid transparent;
}
.secundServece{
    width: 100%;
    padding: 0px 15% 50px 15%;
    background-color: #111;
    border: none; border: 0px solid transparent;
}
.centerSecundService{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0px;
    gap:30px;
    border: none; border: 0px solid transparent;
}
.CardService{
    width: 50%;
    max-width: 510px;
    height: 50%;
    max-height: 510px;
    min-height: 200px;
    min-width: 200px;
    background-image: url("../../../public/afri.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.backColor{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,#1595e5a3, #222);
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
}
.titleService{
    color: #fff;
    font-size: 1.8rem;
    border: none; border: 0px solid transparent;
}
.paragrafoServiceCard{
    color: #fff;
    font-size: 1.1rem;
    margin: 0px;
    border: none; border: 0px solid transparent;
}
.iconServerSetting{
    font-size: 2.5rem;
    color: #fff;
    margin: 5px 0px;
    border: none; border: 0px solid transparent;
}

.projetos{
    background-color: #111;
    border: none; border: 0px solid transparent;
}
.centerProject{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    border: none; border: 0px solid transparent;
}
.BackProject{
    width: 70%;
    padding: 10px 0px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none; border: 0px solid transparent;
}
.textProject{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px;
    border: none; border: 0px solid transparent;
}
.projectRecent{
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    border: none; border: 0px solid transparent;
}
.setentaRecent{
    width: 70%;
    background-color: #111;
    padding-bottom: 50px;
    border: none; border: 0px solid transparent;
}

/* ============== */
.compartilharDiv{
    width: 90%;
    margin: 15px auto 10px auto;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.compartilharDiv::-webkit-scrollbar{
    display: none;
    
}

.buttomGrupe{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -85px;
    background-color: #111;
}
.buttomLeft{
    cursor: pointer;
    background-color: #111;
    color: #999;
}
.widthIconButtom{
    font-size: 25pt;
}
.margnLeft{
    margin-right: 40px;
}
.marginRight{
    margin-left: 40px;
}
.titleColor{
    margin: 0px 15px 0px 15px;
    cursor: pointer;
    background-color: #99999921;
    padding: 15px;
    border-radius: 8px;
}
.vendaDivulgacoes{
    width: 90%;
    margin: 30px auto 0px auto;
}


.sizePhoto{
    width: 70px;height: 70px;
    border-radius: 100%;
}
.nomePreco{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.valorNome{
    text-align: center;
    color: #666;
}
.borderIcon{
    border: none; border: 0px solid transparent;
    border-radius: 100%;
}
.marginTopProject{
    padding-top: 15px;
}
.Tecnologias{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-color: #222;
}
.textTecnologias{
    text-align: center;
    color: #999;
}
.tecnologiaSecundTec{
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0px 10px 0px;
    border: none; border: 0px solid transparent;
}
.setentCenter{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border: none; border: 0px solid transparent;
    border: 0px solid transparent;
}
.capaciti{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 5px;
    transform: scale(0.98);
}
.capaciti:hover{
    transform: scale(1);
    cursor: pointer;
    transition: 0.3s;
}