.homeIm, .centerAbout{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.centerAbout{
    background-color: #111;
}
.first{
    width: 75%;
    height: 450px;
    padding: 0px 0px 0px 15%;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.Holo{
    color: #999;
    margin-left: 0px;
    padding: 0px;
}
.im{
    color: #1597E5;
    font-size: 5rem;
    font-weight: bold;
    margin-left: 0px;
    padding: 0px;
}
.fleelancer, .developer{
    color: #999;
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    padding: 0px;
}
.BuutonHere{
    border: 2px solid #1597E5;
    margin: 20px 0px 0px 0px;
    padding: 6px 20px;
    font-weight: bold;
    border-radius: 5px;
    color: #1597E5;
    background-color: #222;
}
.secund{
    width: 25%;
    background-color: #1597E5;
}
.ImgHome{
    height: 450px;
    margin-left: -50%;
}
.imgSection{
    width: 48%;
    padding: 60px 0px 60px 15%;
    background-color: #111;
}
.imgAbout{
    height: 320px;
}
.textAbout{
    width: 48%;
    background-color: #111;
    padding: 60px 15% 60px 0px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.ParagrafAbout{
    color: #999;
}
.headerAbout{
    color: #999;
}
.row{
    width: 40px;
    background-color: #1597E5;
    border: 2px solid #1597E5;
    border-radius: 10px;
    position: relative;
    margin: 0px 0px 20px 0px;
}
.buutonsAbout{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.BuutonAbout{
    border: 2px solid #1597E5;
    margin: 20px 0px 0px 0px;
    padding: 6px 20px;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    background-color: #1597E5;
}