.centerSidebar{
    width: 45%;
    margin: 85px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.sobreheader{
    width: 100%;
    height: 60px;
    background: -webkit-linear-gradient(#193498, #0b1e65);
    color: #fff;
    border-bottom: 1px dashed #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;

}
.sobreText{
    width: 100%;
    font-size: 12.5pt;
    background-color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobreTextParagrafo{
    width: 90%;
    padding: 7.5px;
    color: #666;
    text-align: justify;
    text-indent: 40px;
    
    
}
.sobreParticipantes{
    width: 100%;
    font-size: 12.5pt;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.headerSobrePartic{
    text-align: center;
    color: #666;
}
.sobreparticipanteDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #666;
    box-shadow: 0px 1px 0px #667;
    width: 95%;
    padding-bottom: 10px;
    padding-top: 10px;
}
.imagemParti{
    width: 120px;
    height: 120px;
    border: 1px solid #666;
    box-shadow: 1px 1px 1px #667;
    border-radius: 20px;
}
.divDescParti{
    margin-right: 400px;
    width: 400px;
}
.marginBott{
    margin-top: 7px;
    margin-bottom: 0px;
    width: 400px;
    margin-left: 20px;
}
@media(max-width: 1170px){
    .centerSidebar{
        width: 60%;
        margin: 85px auto 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
@media(max-width: 670px){
    .centerSidebar{
        width: 70%;
        margin: 85px auto 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
@media(max-width: 620px){
    .centerSidebar{
        width: 80%;
        margin: 85px auto 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
@media(max-width: 590px){
    .centerSidebar{
        width: 80%;
        margin: 85px auto 0px auto;
        display: flex;
        margin-left: 60px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
@media(max-width: 540px){
    .centerSidebar{
        width: 80%;
        margin: 85px auto 0px auto;
        display: flex;
        margin-left: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .sobreheader{
        width: 600px;
        height: 60px;
        background-color: #999;
        color: #fff;
        border-bottom: 1px dashed #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16pt;
    
    }
    .sobreText{
        width: 600px;
        font-size: 12.5pt;
        background-color: #fff;
        font-family: sans-serif;
    }
    .sobreParticipantes{
        width: 600px;
        font-size: 12.5pt;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
@media(max-width: 506px){
    .centerSidebar{
        width: 80%;
        margin: 85px auto 0px auto;
        display: flex;
        margin-left: 110px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .sobreheader{
        width: 500px;
        height: 60px;
        background-color: #999;
        color: #fff;
        border-bottom: 1px dashed #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16pt;
    
    }
    .sobreText{
        width: 500px;
        font-size: 12.5pt;
        background-color: #fff;
        font-family: sans-serif;
    }
    .sobreParticipantes{
        width: 500px;
        font-size: 12.5pt;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
@media(max-width: 465px){
    .centerSidebar{
        width: 90%;
        margin: 85px auto 0px auto;
        display: flex;
        margin-left: 120px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
@media(max-width: 400px){
    .centerSidebar{
        width: 100%;
        margin: 85px auto 0px auto;
        display: flex;
        margin-left: 120px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
@media(max-width: 365px){
    .centerSidebar{
        width: 100%;
        margin: 85px auto 0px auto;
        display: flex;
        margin-left: 140px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .sobreheader{
        width: 470px;
        height: 60px;
        background-color: #999;
        color: #fff;
        border-bottom: 1px dashed #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16pt;
    
    }
    .sobreText{
        width: 470px;
        font-size: 12.5pt;
        background-color: #fff;
        font-family: sans-serif;
    }
    .sobreParticipantes{
        width: 470px;
        font-size: 12.5pt;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
@media(max-width: 330px){
    .centerSidebar{
        width: 100%;
        margin: 85px auto 0px auto;
        display: flex;
        margin-left: 160px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .sobreheader{
        width: 420px;
        height: 60px;
        background-color: #999;
        color: #fff;
        border-bottom: 1px dashed #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16pt;
    
    }
    .sobreText{
        width: 420px;
        font-size: 12.5pt;
        background-color: #fff;
        font-family: sans-serif;
    }
    .sobreParticipantes{
        width: 420px;
        font-size: 12.5pt;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
@media(max-width: 280px){
    .centerSidebar{
        width: 100%;
        margin: 85px auto 0px auto;
        display: flex;
        margin-left: 140px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .sobreheader{
        width: 400px;
        height: 60px;
        background-color: #999;
        color: #fff;
        border-bottom: 1px dashed #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16pt;
    
    }
    .sobreParticipantes{
        width: 400px;
        font-size: 12.5pt;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .sobreText{
        width: 400px;
        font-size: 12.5pt;
        background-color: #fff;
        font-family: sans-serif;
    }
    

}
@media(max-width: 270px){
    .centerSidebar{
        width: 100%;
        margin: 85px auto 0px auto;
        display: flex;
        margin-left: 195px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .sobreheader{
        width: 480px;
        height: 60px;
        background-color: #999;
        color: #fff;
        border-bottom: 1px dashed #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16pt;
    
    }
    .sobreText{
        width: 480px;
        font-size: 12.5pt;
        background-color: #fff;
        font-family: sans-serif;
    }
    .sobreParticipantes{
        width: 480px;
        font-size: 12.5pt;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}