.seletContent{
    width: 250px;
    height: 45px;
    list-style: lower-alpha;
    border-radius: 15px;
    padding: 10px;
}
.selectDiv{
    display: none;
}
@media(max-width: 992px){
    .selectDiv{
        display: flex;
    }
    .flexHeaderAluguel{
        display: none;
    }
}