.login{
    width: 100%;
    height: 100%;
    background-color: #193498;
    margin-top: -20px;
}
.content{
    width: 60%;
    height: 100vh;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoImg{
    width: 160px;
    height: 160px;
    margin-top: -80px;
}
.logoLogin{
    background-color: #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginForm{
    background-color: rgba(6, 3, 3, 0,47);
    width: 360px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(53, 49, 99, 0.5) solid 1px;
    margin-top: 30px;
}
.inputLogin{
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: none;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14pt;
}
.inputLogin:focus, .entrarbutton:focus{
    box-shadow: 0 0 0 0;
    outline: 0px 0px 1px 0px;
    border-bottom: red;
}
.entrarbutton{
    background-color: #1597E5;
    border-radius: 4px;
}
.criar{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Termos{
    color: aliceblue;
    text-decoration: underline;
}
.errRegister{
    background-color: #fff;
    color: red;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid red;
}